/* gobal rules start*/

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /* theme color variable */
    --primaryColor: rgb(29, 22, 22);
    --secondaryColor: rgb(142, 22, 22);
    --thirdColor: rgb(216, 64, 64);
    --fourthColor: rgb(238, 238, 238);

    /* default margins */
    --sidePaddingValue: 12rem;
}   

* {
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
}

/* gobal rules end*/

/* navbar start*/

.navbar{
    display: flex;
    background-color: var(--primaryColor);
    color: var(--fourthColor);
    padding: 1rem var(--sidePaddingValue);
}

.navbar >.navbar-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar >.navbar-logo > .icon{
    background-color: var(--thirdColor);
    padding: 0.85rem 1rem;
    border-radius: 100%;
}

.navbar >.navbar-menu{
    flex-grow: 1;
}

/* navbar end*/